@import url(https://fonts.googleapis.com/css?family=Great+Vibes);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);

body {
	background-color: #A0E8E1;
	background: url(../images/IMG_1687.jpg);
	background-size: cover;
	text-align: center;
	font-family: "Helvetica", sans serif;
	font-size: 16px; /*1em = 16px*/
}

h1 {
	font-family: 'Great Vibes', cursive;
	font-size: 64px;
	color: white;
}

hr {
	color: white;
	background-color: white;
	border-color: white;
	border-top-color: white;
	width: 400px;
	height: 1px;
}

#slogan {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	color: #E8CB1F;
}

p, li {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
}

li {
	list-style-type: none;
}

div {
	width: 200px;
	background-color: #E8CB1F;
	margin: auto;
	padding: 10px;
}

a {
	color: #E8CB1F;
}

#contact {
	font-size: 1em;
}